<div class="">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Add New Booking</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Settings 1</a>
                                <a class="dropdown-item" href="#">Settings 2</a>
                            </div>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <%= content_tag :div,
                        id: "hotel-form",
                        data: {
                            hotels: @hotels.to_json(:include => { :rooms => { :except => [:created_at, :updated_at]}}),
                            booking: @booking.to_json(except: [:created_at, :updated_at]),
                            bookingrooms: @booking.booking_rooms.to_json(except: [:booking_id, :created_at, :updated_at]),
                        } do %>
                        <%= render 'form', booking: @booking %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
